
.circle-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover; /* Đảm bảo ảnh không bị méo */
    border: 3px solid #3ccae6; /* Viền xanh */
}
body {
    margin: 0 auto;
    text-align: center;
    background-image: url('https://media.istockphoto.com/id/1367756024/vi/vec-to/minh-h%E1%BB%8Da-n%E1%BB%81n-m%C3%A0u-n%C6%B0%E1%BB%9Bc-m%C3%A0u-xanh-l%C3%A1-c%C3%A2y.jpg?s=612x612&w=0&k=20&c=lVPjGrTBEsHShbAsIfGMzLKaf-QRlam2XAQ-eL-CkU8=');
    background-size: cover;
    background-attachment: fixed; /* Giữ ảnh cố định */
    background-position: center;
}
h1{
    height:100px;
    width:fit-content;
    marign: 0 auto;
}

header {
    background-color: #23f384;
    color: #fff;
    padding: 1rem 0;
    font-size: 30px;

}

nav ul {
        list-style-type: none;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 25px;
      
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: fantasy;
    text-transform: uppercase;
    font-size: 25px;
    transition: color 0.3s, transform 0.2s;
  }
  
  nav ul li a:hover,
  nav ul li a.active {
    color: #ffcc00; /* Màu vàng sáng khi hover */
    transform: scale(1.1);
  }

html {
    scroll-behavior: smooth;
}
.daumuc {
    font-size: 30px;
    text-shadow: 2px 2px 5px rgb(18, 255, 121);


}
.anhsothich{
    width: 400px;
    height: 300x;
    border-radius: 15px;
    border: 30px rgb(0, 255, 4);
}
h3 {
    font-size: 30px;

}
h4{
    font-size: 20px;
    text-shadow: 3px 3px 5px rgb(13, 1, 1);
}
video{
    width: 500px;
    height:250px;
    border-radius: 20px;
    border:20px darkblue;
}
.custom-button {
    background: linear-gradient(135deg, #b575ff, #c17eff);
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.custom-button:hover {
    background: linear-gradient(135deg, #ff5c8a, #ff6a9f);
}
/* Kiểu dáng cho màn hình nhỏ (điện thoại) */
@media (max-width: 767px) {
    body {
        font-size: 16px;
    }
    .container {
        width: 100%;
    }
    .column {
        width: 100%;
    }
}

/* Kiểu dáng cho màn hình lớn (máy tính) */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
    .container {
        width: 960px;
    }
    .column {
        width: 50%;
    }
}